{% extends "base.html" %}
{% load static %}
{% block title %} {{work.name}} {% endblock%}

{% block content%}
<h1>Лабораторная работа № 1</h1>
    <h2>Определение горизонтальной составляющей индукции магнитного поля Земли по отклонению электронного луча осциллографа.</h2>
    <p><b>Цель работы:</b> определить значение горизонтальной составляющей индукции магнитного поля Земли, используя
        электронный луч осциллографа в качестве индикатора магнитного поля.</p>
    <p><b>Оборудование:</b>электронный осциллограф со снятым с электронно-лучевой трубки ферромагнитным экраном; «диск здоровье»; ученическая линейка.</p>
    <h3>Содержание и метод выполнения работы</h3>
    <p>Если работающую электронно-лучевую трубку расположить перпендикулярно магнитному меридиану Земли, то вследствие действия
        на электронный луч силы Лоренца происходит его смещение s (рис.1). Смещение по вертикали зависит от горизонтальной
        составляющей Вг индукции магнитного поля Земли.</p>
    <p><img src="{% static 'image/lab/11/1/1.png' %}"><img src="{% static 'image/lab/11/1/2.png' %}"></p>
    <p>Измерив  вертикальное смещение s электронного луча, можно, как видно из рисунка 2, определить радиус R дуги, по которой движутся электроны:
        <img src="{% static 'image/lab/11/1/3.png' %}">(при допущении R » ℓ), где ℓ - расстояние от анода до экрана.</p>
    <p>Следовательно,</p>
    <p><img src="{% static 'image/lab/11/1/4.png' %}"></p>
    <p>С другой стороны, радиус R можно определить, применив второй закон Ньютона F=ma для электрона, движущегося в магнитном поле.
        Здесь F=evBг,<img src="{% static 'image/lab/11/1/5.png' %}"></p>
    <p>Следовательно, evBг=m,  откуда <img src="{% static 'image/lab/11/1/6.png' %}">
    Где е и m соответственно заряд и масса электрона.
    Скорость электрона можно определить, исходя из закона сохранения энергии: <img src="{% static 'image/lab/11/1/7.png' %}">
    (U – разность потенциалов между катодом и анодом электронно-лучевой трубки).
    Отсюда <img src="{% static 'image/lab/11/1/8.png' %}">
    Из выражений (1), (2) и (3) получаем: <img src="{% static 'image/lab/11/1/9.png' %}">
    Таким образом, для определения модуля горизонтальной составляющей вектора магнитной индукции магнитного поля Земли
    при известных значениях U и ℓ нужно измерить смещение s электронного луча по вертикали под действием силы Лоренца.
    </p>
    <h3>Порядок выполнения работы</h3>
    <p>
        <ol>
            <li>Включите электронный осциллограф. С помощью ручек управления яркостью луча и его фокусировкой добейтесь
                получения на экране светящегося пятна минимальных размеров. Поворачивая осциллограф на «диске здоровья»,
                заметьте, что луч перемещается по вертикали. Найдите такое положение осциллографа, при котором луч займёт
                верхнее крайнее положение. Ручками смещения луча по вертикали и по горизонтали выведите светящееся пятно
                в центр экрана (в центре экрана имеется метка).</li>
            <li>Поверните осциллограф на 1800 в горизонтальной плоскости. Электронный луч будет снова расположен
                перпендикулярно горизонтальной составляющей вектора индукции магнитного поля Земли, однако направление
                вектора скорости электронов изменится на противоположное. В результате луч смещается по вертикали на 2s
                от первоначального положения.</li>
            <li>Измерьте расстояние 2s между двумя положениями светящейся точки.
                По измеренному значению смещения s и известным значениям длины ℓ  и ускоряющего напряжения U вычислите
                модуль горизонтальной составляющей Вг вектора индукции магнитного поля Земли.
                </li>
            <li><p>Измерения повторите три раза и найдите среднее значение Вг.ср. Результаты измерений и вычислений занесите в отчётную таблицу.</p>
                <p><img src="{% static 'image/lab/11/1/10.png' %}"></li></p>

        </ol>
    </p>
    <h5>Контрольные вопросы</h5>
    <p>
        <ol>
            <li>С электронно-лучевой трубки осциллографа, предназначенного для этой лабораторной работы, снят экранирующий
                кожух из ферромагнитного материала (электротехнической стали). Для чего это сделано?</li>
            <li>Почему при выполнении эксперимента в современном здании вычисленные результаты отличаются от табличных?</li>
            <li>Каким образом нужно провести эксперимент для измерения вертикальной     составляющей вектора индукции магнитного поля Земли?</li>
        </ol>
    </p>
<a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}


{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}