{% extends "base.html" %}
{% load static %}

{% block title %} Лабораторные работы {{grade}} класса {% endblock%}

{% block left_panel%}

{% endblock%}

{% block content%}
    <h1>МБОУ "ЛИЦЕЙ №40"</h1>
    {% if works %}
        {% for work in works %}
            <p>{{ forloop.counter }}: <a href="{% url 'lab:work' pk=work.pk%}?id={{work.pk}}">{{ work.grade }}-{{ work.number }} {{work.name}}</a>
            {% if request.user.is_authenticated %}
                   |
                <a href="{% url 'lab:decisions_work'%}?id={{work.pk}}">сданные отчеты</a>
            {% endif %}
            </p>
        {% endfor %}
    {% else %}
        <p>По данному классу пока не найдено ни одной готовой лабораторной работы. Возможно они когда нибудь будут добавлены!!!
        <br><b>А пока вот прикольная картинка)))</p>
        <p><img class="main-img" src="{% static 'image/ggggggggggg.jpg' %}" alt="Класная картинка"></p>
    {% endif %}
    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}