{% extends "base.html" %}
{% load static %}

{% block title %} Отчеты по лабораторной работе "{{decisions.first.work.name}}"  {% endblock%}

{% block left_panel%}

{% endblock%}

{% block content%}
    <h1>МБОУ "ЛИЦЕЙ №40"</h1>
    {% if request.user.is_authenticated %}
        {% if decisions %}
            {% for decision in decisions %}
                <p>{{ forloop.counter }}: <a href="{% url 'lab:download' pk=decision.id %}">{{ decision.author }}: файл"{{ decision.get_file_name }}"</a></p>
            {% endfor %}
        {% else %}
            <p>По данной лабораторной пока не было отправлено ни одного отчета!!!
            <br><b>А пока вот прикольная картинка)))</p>
            <p><img class="main-img" src="{% static 'image/ggggggggggg.jpg' %}" alt="Класная картинка"></p>
        {% endif %}
    {% else %}
        <p>Просмотр сданных отчетов доступен только авторизированному преподователю!!!!</p>
    {% endif %}
    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}