{% extends "base.html" %}
{% load static %}

{% block title %} Отчеты по лабораторной работе "{{protocols.first.work.name}}"  {% endblock%}

{% block left_panel%}

{% endblock%}

{% block content%}
    <h1>МБОУ "ЛИЦЕЙ №40"</h1>
    {% if request.user.is_authenticated %}
        <h3>Сданные отчеты по лабораторной работе "{{protocols.first.work.name}}"</h3>
        {% if protocols %}
            {% for protocol in protocols %}
                <p>
                    {{ forloop.counter }}: Ученик {{ protocol.author }} класс {{protocol.author.get_grade}}:
                    <a href="{% url 'lab:download' pk=protocol.id %}">файл"{{ protocol.get_file_name }}"</a>
                    сдан {{protocol.time_create}}
                </p>
            {% endfor %}
        {% else %}
            <p>По данной лабораторной пока не было отправлено ни одного отчета!!!</p>
            <p><img class="main-img" src="{% static 'image/hnik_hnik.jpg' %}" alt="Класная картинка"></p>
        {% endif %}
    {% else %}
        <p>Просмотр сданных отчетов доступен только авторизированному преподователю!!!!</p>
    {% endif %}
    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}