<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>{% block title %}Заголовок страницы{% endblock%}</title>
</head>
<body>

    <nav class="menu">
        <div class="group">
            <img class="logo" src="{% static 'image/site_logo.png' %}" alt="Логотип">
            <div class="group1">
                <a href="#">Справочник</a>
                <a href="{% url 'lab:allworks' %}?grade=5">5 класс</a>
                <a href="{% url 'lab:allworks' %}?grade=6">6 класс</a>
                <a href="{% url 'lab:allworks' %}?grade=7">7 класс</a>
                <a href="{% url 'lab:allworks' %}?grade=8">8 класс</a>
                <a href="{% url 'lab:allworks' %}?grade=9">9 класс</a>
                <a href="{% url 'lab:allworks' %}?grade=10">10 класс</a>
                <a href="{% url 'lab:allworks' %}?grade=11">11 класс</a>
            </div>
        </div>
    </nav>
    <div class="main-container">
        <div class="left-panel">
            {% block left_panel%}
                боковая панель
            {% endblock%}
        </div>
        <div>
            {% block content%}
                Тут будет содержание страницы
            {% endblock%}
        </div>

    </div>

</body>
</html>