{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа № 1</h1>
    <h2>Полый цилиндр на наклонной плоскости.</h2>
    <p><b>Цель работы:</b> используя экспериментальные данные, рассчитать мо-мент инерции полого цилиндра.</p>
    <p><b>Оборудование:</b> штатив, наклонная плоскость, линейка демонстраци-онная, линейка ученическая, секундомер, весы, гири, штангенциркуль, упор.</p>
    <h4>Содержание и метод выполнения работы</h4>
    <p>Полый цилиндр скатывается с наклонной плоскости высотой h.
        Будем считать, что толщина цилиндра пренебрежимо мала. Известно, что скорость цилиндра в конце наклонной плоскости может быть определена следующим образом:
        <img src="{% static 'image/lab/10/1/10-1-1.png' %}"></p>
    <p><img src="{% static 'image/lab/10/1/10-1-2.png' %}"></p>
    <p>Для движения с постоянным ускорением: <img src="{% static 'image/lab/10/1/10-1-3.png' %}">   , где
        m – масса цилиндра, R – радиус цилиндра, h – высота наклонной плоскости, <img src="{% static 'image/lab/10/1/10-1-5.png' %}"> – длина пути цилиндра.
        Используя полученные в результате эксперимента значения величин V, m, R, h, можно найти момент инерции полого цилиндра I.
        Полученный результат нужно сравнить с результатом, полученным при использовании формулы <img src="{% static 'image/lab/10/1/10-1-4.png' %}">
    </p>
    <h5>Порядок выполнения работы</h5>
    <p>
        <ol>
            <li>С помощью штатива установите наклонную плоскость в рабочее положение. Рекомендованные величины h 0,05м, 0,1м, 0,15м и 0,2м.</li>
            <li>Определите массу цилиндра m и его радиус R</li>
            <li>Поставьте упор (рис.1) и измерьте длину пути l цилиндра по наклонной плоскости.</li>
            <li>Для каждой величины h измерьте время t скатывания цилиндра с наклонной плоскости три раза.</li>
            <li>Рассчитайте скорость цилиндра в конце наклонной плоскости (в момент удара цилиндра об упор) по формуле (2)</li>
            <li>Найдите момент инерции полого цилиндра I.</li>
            <li>Рассчитайте погрешности эксперимента.</li>
            <li>Полученный результат расчёта I сравните с результатом, полученным в соответствии с формулой (3).</li>
            <li>Обоснуйте использование в работе формул (1) и (2).</li>
        </ol>
    </p>
    <h5>Контрольные вопросы</h5>
    <p>
        <ol>
            <li>Объясните различие полученных результатов I и Iтеор</li>
            <li> Почему не рекомендуется устанавливать h больше рекомендованных значений?</li>
        </ol>
    </p>

{% endblock%}

{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}