{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа №2</h1>
    <h2>Расчет и измерение скорости шара, скатывающегося по наклон-ному желобу</h2>
    <p><b>Цель работы:</b> рассчитайте конечную скорость шара, скатывающегося с
        наклонного желоба. Результат расчета проверьте экспериментально.</p>
    <p><b>Оборудование:</b>штатив; длинный желоб с углом раствора 900; шар радиусом R, мень-шим ширины одной стороны
        желоба; линейка демонстрационная; се-кундомер; упор; линейка ученическая.</p>
    <h4>Содержание и метод выполнения работы</h4>
    <p>Так как шар катится по желобу прямоугольного сечения, его угловую скорость следует вычислять по формуле
        <img src="{% static 'image/lab/10/2/10-2-1.png' %}">.
        Из рисунка видно, что при <img src="{% static 'image/lab/10/2/10-2-2.png' %}">
    </p>
    <p><img src="{% static 'image/lab/10/2/10-2-3.png' %}"></p>
    <h5>Порядок выполнения работы</h5>
    <p>
        <ol>
            <li>С помощью уровня или шара установите горизонтальность стола.</li>
            <li>С помощью штатива установите желоб в наклонном положении (рис.1). Измерьте высоту h наклонного желоба.</li>
            <li>Рассчитайте теоретическую скорость скатывания шара с желоба по формуле:<img src="{% static 'image/lab/10/2/10-2-4.png' %}">.</li>
            <li>Измерьте длину пути l  и время t скатывания  шара.</li>
            <li>Рассчитайте скорость шара в конце желоба по формуле:<img src="{% static 'image/lab/10/2/10-2-5.png' %}">.</li>
            <li>Повторите опыт при разных значениях высоты h желоба и сделайте вывод об оптимальных условиях выполнения работы.</li>
            <li><p>Результаты измерений и расчетов занесите в отчетную таблицу. На одной координатной плоскости (V,h)
                постройте экспериментальный и теоретический графики V(h).</p>
                <p><p><img src="{% static 'image/lab/10/2/7.jpg' %}"></p></p></li>
            <li>Рассчитайте погрешности измерений Vт и Vэ и убедитесь в досто-верности измерений.</li>
         </ol>
    </p>
    <h5>Контрольные вопросы</h5>
    <p>
        <ol>
            <li>Почему при скатывании шара по желобу нельзя использовать формулу <img src="{% static 'image/lab/10/2/10-2-6.png' %}".>, где R – радиус шара.</li>
            <li>Какую роль играет трение в этом опыте.</li>
            <li>Как доказать, что движение  шара по жёлобу равноускоренное?</li>
            <li>Чем объясняются различия в значениях Vт и Vэ , полученных в дан-ной работе?</li>
            <li>При каких углах наклона желоба погрешности измерений мини-мальны?</li>
        </ol>
    </p>
{% endblock%}


{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}