{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа №3</h1>
    <h2>Расчет и измерение скорости сплошного цилиндра, скатывающегося с наклонной плоскости.</h2>
    <p><b>Цель работы:</b> рассчитать кинематические характеристики движения цилиндра <img src="{% static 'image/lab/10/10-3-7.png' %}"> скатывающегося по наклонной плоскости. Результаты расчета прове-рить экспериментально.</p>
    <p><b>Оборудование:</b> штатив, наклонная плоскость, линейки ученическая и демонстрационная, штангенциркуль, секундомер, упор.</p>
    <h3>Порядок выполнения работы</h3>
    <p>
        <img src="{% static 'image/lab/10/10-3-3.png' %}">
        <ol>
            <li>С помощью штатива установите доску в наклонное положение с минимальным углом     наклона.
                Измерьте высоту наклонной плоскости h.</li>
            <li>Рассчитайте теоретическую скорость скатывания цилиндра с наклонной плоскости по формуле:
                <img src="{% static 'image/lab/10/10-3-1.png' %}"> (см. математическое при-ложение 1)</li>
            <li>Измерьте длину наклонной плоскости и время скатывания цилин-дра t.</li>
            <li>Рассчитайте скорость цилиндра в конце наклонной плоскости по формуле:
                <img src="{% static 'image/lab/10/10-3-2.png' %}">(для каждой высоты проделать не менее трех измерений)</li>
            <li>Измерьте радиус цилиндра R</li>
            <li>Рассчитайте теоретически значение ускорения центра инерции цилиндра <img src="{% static 'image/lab/10/10-3-4.png' %}">
                и угловое ускорение цилиндра <img src="{% static 'image/lab/10/10-3-5.png' %}">.</li>
            <li>Рассчитайте ускорение центра инерции цилиндра и величину угло-вого ускорения по формулам:<br>
                <img src="{% static 'image/lab/10/10-3-6.png' %}"></li>
            <li>Рассчитайте погрешности измерений <img src="{% static 'image/lab/10/10-3-8.png' %}"></li>
            <li>Повторите опыт при разных значениях h (0,1м   0,2м  0,15м)</li>
            <li>Постройте экспериментальный и теоретический графики зави-симости Vt(h) (на одной координатной плоскости)</li>
            <li>При выполнении отчета в теоретической части работы обос-новать как теоретический, так и
                экспериментальный способ определения указанных в работе величин. Получить все используемые в работе формулы (1) – (6)</li>
        </ol>
    </p>
    <h5>Контрольные вопросы</h5>
    <p>
        <ol>
            <li>Каковы условия применяемости закона сохранения механической энергии?</li>
            <li>Как доказать, что движение цилиндра равноускоренное?</li>
            <li>Чем объяснить различие в значениях U, <i>a</i> и β полученных в данной работе теоретически и экспериментально?</li>
        </ol>
    </p>
    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}

{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}