{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа №4</h1>
    <h2>Исследование динамики маховика (цилиндра с осью) как аккумулятора вращательного движения</h2>
    <p><b>ЦЕЛЬ:</b> сформулировать самостоятельно, ознакомившись с описанием работы и с действующей экспериментальной установкой.</p>
    <p><b>ОБОРУДОВАНИЕ:</b> маховик с осью, наклонные «рельсы», секундомер, упор, штан-генциркуль, линейки демонстрационная и ученическая.</p>
    <h3>Содержание и метод выполнения работы</h3>
    <p>Устойчивость вращения тел с большим моментом инерции находит применение, в частности, в лентопротяжных механизмах
        аудио- и видеомагнитофонов (тонвалы), гироскопах и других системах стабилизации вращательного движения. Вращение
        подавляющего большинства космических тел – это пример по-добной устойчивости в природе. При обмене энергией суще
        ствует возможность накопления (аккумулирования) вращатель-ной энергии. Примером такого накопления может служить
        движение маховика – цилиндра с осью – по наклонной плоскости («рельсам»). В данной лабораторной работе вам
        предлагается познакомиться с данной моделью и исследовать динамику ска-тывания маховика.</p>
    <img src="{% static 'image/lab/10/4/1.jpg' %}" alt="установка">
    <p>В данном опыте есть возможность изменения угла наклона «рельсов», по которым скатывается маховик, к горизонтальной
        плоскости. При небольших углах наклона скатывание происхо-дит без проскальзывания, при увеличении угла возможен
        выход на режим скатывания с проскальзыванием. Накопление враща-тельной энергии происходит за счет большой
        (по сравнению с единицей) величиной отношения радиуса цилиндра к радиусу стержня. Представляет интерес как
        исследование перехода в режим проскальзывания, так и экспериментальная оценка доли энергии, перешедшей во вращение.</p>
    <ol> <b>Порядок выполнения работы.</b>
        <li>Исследование движения маховика включает в себя изме-рение следующих характеристик: начальной высоты
            скатывания h, длины пути L и времени скатывания t. Конечная скорость скатывания оценивается в результате
            косвенных измерений:  V = 2L/t.</li>
        <li>Для постоянного угла скатывания маховика проделать опыт 3 раза и занести данные о временах скатывания в таблицу.</li>
        <li>Меняя высоту скатывания (при постоянной длине пути, так чтобы угол менялся примерно в интервале от 5<sup>0</sup> до угла,
            при котором отчетливо заметно проскальзывание оси маховика по «рельсам»), измерения провести для четырех
            различных высот скатывания.</li>
    </ol>
    <ol> <b>Обработка экспериментальных данных.</b>
        <li>Вычислить для каждой из высот h скатывания величину конечной скорости. Результаты вычислений занести в таблицу.</li>
        <li>Для каждой из высот скатывания вычислить среднюю скорость V и наибольшее отклонение от средней скорости dV.
            Полученные данные занести в соответствующие колонки таблицы.</li>
        <li>Определить для одной из высот h момент инерции I маховика.</li>
        <li>По данным таблицы построить график V(h) с указанием экспериментально определенной величины отклонения.</li>
        <li>На графике V(h) (используя математическое приложение 1) начертить теоретическую зависимость Vт(h),
            соответствующую режиму качения без проскальзывания. Провести сопоставление теоретической и экспериментальной
            зависимостей. Выделить этап перехода в режим проскальзывания.</li>
        <li>Провести анализ ошибок эксперимента и сопоставить ошибку в измерении скорости скатывания с экспериментальной
            оценкой dV.</li>
        <li>Сопоставить расчетное и экспериментальное значения момента инерции маховика.</li>
        <li>Исходя из полученных экспериментальных данных оценить относительную долю начальной механической энергии,
            перешедшей в энергию вращения (выбрав определенное значение высоты скатывания).</li>
    </ol>
    <ol> <b>Контрольные вопросы.</b>
        <li>Обоснуйте предположение о постоянном ускорении цен-тра масс маховика при скатывании. Где используется это
            предположение?</li>
        <li>Укажите причины, приводящие к изменению данного ускорения в процессе скатывания. Как это скажется на
            соответствии экспериментальных и теоретических зависимостей V(h)? Как изменится характер зависимости V(h)
            при переходе к режиму проскальзывания? Попробуйте качественно пояснить ответ на графике V(h).</li>
        <li>Какова роль трения качения в данном эксперименте?</li>
    </ol>

    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}