{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа №1</h1>
    <h2>Исследование зависимости средней путевой скорости движения воздушного пузырька в трубке с жидкостью от угла наклона трубки.</h2>
    <p><b>ЦЕЛЬ:построить график этой зависимости для углов α наклона трубки
        20<sup>0</sup>, 30<sup>0</sup>,45<sup>0</sup>, 60<sup>0</sup>,75<sup>0</sup> и 90<sup>0</sup> . Сделать выводы.</b> </p>
    <p><b>ОБОРУДОВАНИЕ:</b> стеклянная трубка с жидкостью и воздушным пузырьком; ученическая линейка; транспортир; секундомер. </p>
    <h3>Указания к работе.</h3>
    <p>Скорость всплывания пузырька в трубке, оказывается, зависит от угла наклона трубки. Причём зависимость эта довольно сложная.
        Для построения графика нужна точка при 00. Понятно, что пузырек при таком угле наклона трубки двигаться не будет,
        поэтому и время измерять не нужно. Можно сразу написать, что V<sub>СР ПУТ</sub>=0.</p>
    <p><img src="{% static 'image/lab/7/1/1.jpg' %}" alt="описание"></p>
    <ol> <b>Порядок выполнения работы.</b>
        <li>Для выполнения эксперимента трубку с пузырьком в крайнем левом положении положите на стол.</li>
        <li>Затем, одновременно с включением секундомера, поднимите правый конец трубки на нужный угол, пользуясь для этого шкалой транспортира.</li>
        <li><p>каждого угла наклона эксперимент повторите три раза. Результаты измерений занесите в таблицу.</p>
            <p><img src="{% static 'image/lab/7/1/2.jpg' %}" alt="описание"></p>
            <p>Вычислите  t<sub>CР</sub> и  V<sub>СР ПУТ</sub>.</p></li>
        <li>Построить график средренй скорости от угла наклона трубки.</li>
        <li>Попробуйте объяснить причину, по которой V<sub>СР ПУТ</sub> изменяется таким образом.</li>
    </ol>

    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}

{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}