{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа № 2</h1>
    <h2>Определение средней путевой скорости шарика в наклонном жёлобе.</h2>
    <p><b>ЦЕЛЬ:</b> вычислить V<sub>СР ПУТ</sub> шарика, скатывающегося по наклонному жёлобу.</p>
    <p><b>ОБОРУДОВАНИЕ:</b> штатив; жёлоб; шарик; металлический цилиндр; демонстрационная линейка; метроном.</p>
    <ol> <b>Порядок выполнения работы.</b>
        <li>Укрепите жёлоб с помощью штатива в наклонном положении под небольшим углом к   горизонту.
            В нижний конец жёлоба положите металлический цилиндр</li>
        <li>Пустив шарик одновременно с ударом метронома с верхнего конца жёлоба, подсчитайте число ударов
            метронома до столкновения шарика с цилиндром. Опыт проводится при 120 ударах метронома в минуту.</li>
        <li><p>Производя небольшие передвижения металлического цилиндра по желобу, добивайтесь того, чтобы между
            моментом пуска шарика и моментом его столкновения с цилиндром было 3 ударов метронома (4 промежутка между ударами).</p>
            <p><img src="{% static 'image/lab/7/2/1.jpg' %}" alt="Рисунок установки"></p></li>
        <li>Вычислите время движения шарика С помощью линейки определите длину перемещения S шарика. Повторите опыт три
            раза, опять добиваясь совпадения удара метронома с ударом шарика о металлический цилиндр.
            Цилиндр для этого можно немного передвигать.</li>
        <li><p>По формуле <img src="{% static 'image/lab/7/2/2.jpg' %}" alt="среднее расстояние"> найдите среднее
            значение величины перемещения, а затем рассчитайте среднюю путевую скорость. Результаты измерений и
            вычислений занесите в таблицу.</p>
            <p><img src="{% static 'image/lab/7/2/3.jpg' %}" alt="таблица измерений"></p>
        </li>
    </ol>

    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}

{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}