<h1>Лабораторная работа № 1</h1>
    <h2>Полый цилиндр на наклонной плоскости.</h2>
    <p><b>Цель работы:</b> </p>
    <p><b>Оборудование:</b></p>
    <h3>Содержание и метод выполнения работы</h3>
    <p></p>
    <p><img src="{% static 'image/lab/10/10-1-2.png' %}"></p>
    <p></p>
    <h3>Порядок выполнения работы</h3>
    <p>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </p>
    <h5>Контрольные вопросы</h5>
    <p>
        <ol>
            <li></li>
            <li></li>
        </ol>
    </p>
<a href="{% url 'lab:mainpage' %}">вернуться на главную</a>