{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа №1</h1>

    <h2>Использование штангенциркуля и микрометра для измерений.</h2>

    <p><b>ЦЕЛЬ:</b> получить навыки пользования измерительными инструментами высокой точности.<br>
    Используя штангенциркуль и микрометр, определить плотность ρ предложенного образца металла.</p>

    <p><b>ОБОРУДОВАНИЕ:</b> весы; набор гирь; штангенциркуль; микрометр; металлическая деталь.</p>
    <div>
        <p><img src="{% static 'image/lab/9/9-1-1.jpg' %}" alt="штангенциркуль"></p>
        <p><img src="{% static 'image/lab/9/9-1-2.jpg' %}" alt="микрометр"></p>
    </div>
    <ol> <b>Порядок выполнения работы.</b>
        <li>	С  помощью учителя освойте измерение размеров при помощи штангенциркуля и микрометра.</li>
        <li>	Нарисуйте деталь. Плотность металла, из которого она изготовлена, требуется определить.</li>
        <li>	Измерьте и запишите размеры детали.</li>
        <li>	Вычислите объём детали.</li>
        <li>	Определите при помощи весов массу детали.</li>
        <li>	Вычислите ρ металла, из которого изготовлена деталь.</li>
        <li>	По таблице «Плотность металлов» (см. Приложение 1) определите металл, из которого изготовлена деталь.</li>
    </ol>

    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}