{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа №2</h1>
    <h2>ОПРЕДЕЛЕНИЕ УСКОРЕНИЯ ТЕЛА ПРИ РАВНОУСКОРЕННОМ ДВИЖЕНИИ.</h2>
    <p><b>ЦЕЛЬ:</b> вычислить ускорение шарика, скорость шарика в конце желоба, скатывающегося по наклонному желобу.</p>
    <p><b>ОБОРУДОВАНИЕ:секундомер, демонстрационная линейка, штатив, шарик, желоб, металлический цилиндр.</b> </p>
    <ol> <b>Порядок выполнения работы.</b>
        <li><p>Укрепите жёлоб с помощью штатива в наклонном положении под наименьшим           углом к   горизонту
            (h<sub>min</sub>, при котором шарик начинает скатываться. В нижний конец жёлоба положите металлический цилиндр.</p>
            <p><img src="{% static 'image/lab/9/2/9-2-1.jpg' %}" alt="рисунок установки"></p></li>
        <li>Пустите шарик с верхнего конца жёлоба. С помощью секундомера измерьте время скатывания шарика до момента
            его столкновения с цилиндром. Длина пути шарика по жёлобу S должна быть постоянной</li>
        <li>Повторите опыт ещё четыре раза.</li>
        <li>Увеличивая h каждый раз на равное расстояние, проведите эксперименты ещё для четырех высот.</li>
        <li>Вычислите среднее время движения шарика t<sub>ср</sub> для каждой высоты.</li>
        <li>Вычислите скорость V движения шарика в конце желоба для каждой высоты.</li>
        <li><p>Вычислите ускорение <i>a</i> для каждой высоты.</p>
            <p>Результаты измерений и вычислений занесите в таблицу.</p>
            <p><img src="{% static 'image/lab/9/2/3.jpg' %}" alt="рисунок установки"></p></li>
        <li>Постройте графики зависимости скорости V и ускорения <i>a</i> от изменения высоты h.</li>
        <li>Сделайте выводы на основании полученных результатов и сравнении их с теоретическими зависимостями.</li>
    </ol>

    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}

{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}