{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа №2</h1>
    <h2>Название</h2>
    <p><b>ЦЕЛЬ:</b> </p>
    <p><b>ОБОРУДОВАНИЕ:</b> </p>
    <ol> <b>Порядок выполнения работы.</b>
        <li>	</li>
        <li>	</li>
        <li>	</li>
    </ol>
    <img src="{% static 'image/lab/9/2/9-2-1.jpg' %}" alt="рисунок установки">
    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}

{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}