{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа №3</h1>
    <h2>ОПРЕДЕЛЕНИЕ УСКОРЕНИЯ СВОБОДНОГО ПАДЕНИЯ С ПОМОЩЬЮ МАЯТНИКА (1-Й СПОСОБ).</h2>
    <p><b>ЦЕЛЬ:</b> определить ускорение свободного падения g, используя зависимость периода колебаний маятника от длины подвеса ℓ.</p>
    <p><b>ОБОРУДОВАНИЕ:</b> штатив, груз, нить, линейка демонстрационная, секундомер.</p>
    <h3>Указания к выполнению работы.</h3>
    <div>
        <div>
            <p>Если груз, подвешенный на нити, колеблется, а его размеры значительно меньшие, чем длина нити ℓ, то период колебаний
                может быть определён из формулы: <img src="{% static 'image/lab/9/3/2.jpg' %}" alt="формула периода">,  где ℓ длина нити (точнее расстояние от точки подвеса до центра масс груза),
                g – ускорение свободного падения. Зная период колебаний Т и длину подвеса ℓ , на основании этой формулы можно
                определить величину ускорения свободного падения: <img src="{% static 'image/lab/9/3/3.jpg' %}" alt="формула ускорения"> </p>
            <p>Период колебаний можно определить по промежутку времениt, за которое маятник совершит определённое количество
                колебаний N: <img src="{% static 'image/lab/9/3/4.jpg' %}" alt="формула периода">.</p>
        </div>
        <div><img src="{% static 'image/lab/9/3/1.jpg' %}" alt="рисунок установки"></div>
    </div>


    <ol> <b>Порядок выполнения работы.</b>
        <li>Разместите штатив на столе так, чтобы нить с грузом выступала за край поверхности стола. Груз должен висеть
            на некотором расстоянии от пола.</li>
        <li><p>Для записи результатов измерений и вычислений подготовьте таблицу:</p>
            <p><img src="{% static 'image/lab/9/3/5.jpg' %}" alt="Таблица"></p></li>
        <li>Измерьте линейкой длину подвеса ℓ.</li>
        <li>Отклоните маятник на 5 – 10 см и отпустите его.</li>
        <li>Замерьте время dt, за которое он совершит 40 полных колебаний.</li>
        <li>Повторите опыт 5 раз, вычислите среднее время, за которое маятник совершит 40 колебаний dt<sub>ср</sub>.</li>
        <li>Вычислите период колебаний <img src="{% static 'image/lab/9/3/6.jpg' %}" alt="формула периода"></li>
        <li>Вычислите ускорение свободного падения g.</li>
        <li>Определите относительную ошибку полученного результата ε:
            <img src="{% static 'image/lab/9/3/7.jpg' %}" alt="погрешность">, где g<sub>изм</sub> – величина ускорения
            свободного падения, определённая по результатам проделанной работы, а g – значение, взятое из справочника.</li>
    </ol>
    <img src="{% static 'image/lab/9/1/9-1-1.jpg' %}" alt="описание">
    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}

{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}