{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа №4</h1>
    <h2>ОПРЕДЕЛЕНИЕ УСКОРЕНИЯ СВОБОДНОГО ПАДЕНИЯ С ПОМОЩЬЮ ВРАЩАЮЩЕГО ДИСКА (2-Й СПОСОБ).</h2>
    <p><b>ЦЕЛЬ:</b> определить ускорение свободного падения g с помощью равномерно вращающегося диска.</p>
    <p><b>ОБОРУДОВАНИЕ:</b> электропроигрыватель, линейка инструментальная, транспортир, два шарика равной массы на нити,
        листки белой и копировальной бумаги, имеющие форму круга, штатив, спички.</p>
    <h3>Содержание и метод выполнения работы.</h3>
    <p>Чтобы вычислить ускорение свободного падения g, надо знать две величины – высоту h и время падения тела t:
        <img src="{% static 'image/lab/9/4/2.jpg' %}" alt="ускорение свободного падения"></p>
    <div>
        <div>Одну из этих величин h можно измерить с достаточной точностью  инструментальной линейкой. Но измерение малого
            промежутка времени, в течение которого происходит падение шариков с небольшой высоты, требует особого приёма.
            В данной работе для этой цели применён равномерно вращающийся диск проигрывателя, делающий известное число
            оборотов ν в минуту. Над диском с помощью штатива укрепляют небольшую пластину, через которую нить с подвешенными
            на её концах двумя одинаковыми шариками, которые должны находиться на разной высоте строго над одним из радиусов
            диска. Если пережечь нить, то шарики упадут на вращающийся диск в разные моменты времени t<sub>1</sub>иt<sub>2</sub>.</div>
        <div><img src="{% static 'image/lab/9/4/1.jpg' %}" alt="рисунок установки"></div>
    </div>
    <p>Между радиусами, проведёнными через точки падения шариков на диск, образуется некоторый центральный угол φ.</p>
    <p>Измерив угол поворота φ в градусах и зная число оборотов диска ν в минуту, можно определить интервал времени
        между падением шариков ∆t=t1-t2 в минутах <img src="{% static 'image/lab/9/4/3.jpg' %}" alt="dt">.</p>
    <p>А в секундах этот интервал будет равен: <img src="{% static 'image/lab/9/4/4.jpg' %}" alt="dt">. С другой стороны,
        интервал времени ∆t можно определить через время падения шариков t1 и t2: <img src="{% static 'image/lab/9/4/5.jpg' %}" alt="dt">
        , следовательно, <img src="{% static 'image/lab/9/4/6.jpg' %}" alt="dt">, откуда </p>
    <p><img src="{% static 'image/lab/9/4/7.jpg' %}" alt="dt"></p>
    <ol> <b>Порядок выполнения работы.</b>
        <li>Положите на диск проигрывателя круг из копировальной бумаги чёрным слоем вверх, а на него – круг из белой
            бумаги. На белом круге начертите предварительно один радиус.</li>
        <li>Расположите шарики точно над начерченным радиусом, один на высоте h1=10см, а другой на 10 – 15 см выше.</li>
        <li>Включите проигрыватель с частотой вращения ν = 78 об/мин, и через некоторое время пережгите нить, соединяющую шарики.
            Выключите проигрыватель и снимите с него белый круг. Метки, оставленные шариками на этом круге, соедините
            тонкими линиями точно с центром круга, угол φ между этими линиями измерьте с помощью транспортира. Результаты
            измерений занесите в таблицу.</li>
        <li>Зная частоту ν вращения диска проигрывателя, расстояния h1и h2 от шариков до диска в начальный момент
            времени и угол φ, вычислите величину ускорения свободного падения тел g.</li>
        <li><p>Повторите опыт при других высотах h1и h2 . результаты измерений и вычислений занесите в таблицу.</p>
            <p><img src="{% static 'image/lab/9/4/8.jpg' %}" alt="таблица"></p></li>
    </ol>
    <ol><b>Контрольные вопросы.</b>
        <li>Почему время падения шариков в этой работе не измеряют карманным секундомером?</li>
        <li>Как измеряется время падения шарика с помощью вращающегося диска?/li>
        <li>Изменится ли результат в этой работе, если шарики будут иметь массу в два раза больше прежней?</li>
        <li>Изменится ли погрешность результата измерений времени ∆t, если расстояние между шариками h1 -  h2 будет
            больше, чем указанная в опыте?</li>
        <li>Каковы основные причины погрешностей измерений, возникающих при выполнении данной лабораторной работы?</li>
    </ol>
    <img src="{% static 'image/lab/9/1/9-1-1.jpg' %}" alt="описание">
    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}

{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}