{% extends "base.html" %}
{% load static %}

{% block title %} {{work.name}} {% endblock%}

{% block content%}
    <h1>Лабораторная работа №5</h1>
    <h2>ОПРЕДЕЛЕНИЕ НАЧАЛЬНОЙ СКОРОСТИ СНАРЯДА, ДАЛЬНОСТИ И ВЫСОТЫ ПОДЪЁМА ПРИ СТРЕЛЬБЕ ПОД УГЛОМ К ГОРИЗОНТУ.</h2>
    <p><b>ЦЕЛЬ:</b> по результатам эксперимента определить начальную скорость снаряда, дальность полёта и высоту подъёма
        при стрельбе под углом к горизонту.</p>
    <p><b>ОБОРУДОВАНИЕ:</b> баллистический пистолет, линейка демонстрационная, листок поролона.</p>
    <h3>Содержание и метод выполнения работы</h3>
    <p><img src="{% static 'image/lab/9/5/1.jpg' %}" alt="рисунок установки"></p>
    <ol>При выполнении этой работы можно использовать известные формулы:
        <li>Дальность полёта снаряда:<img src="{% static 'image/lab/9/5/2.jpg' %}" alt="дальность полета"></li>
        <li>Максимальная высота поднятия снаряда при стрельбе под углом к горизонту:
            <img src="{% static 'image/lab/9/5/3.jpg' %}" alt="Максимальная высота"></li>
        <li>Начальная скорость снаряда при стрельбе вертикально вверх:
            <img src="{% static 'image/lab/9/5/3.jpg' %}" alt="начальная скорость"></li>
    </ol>
    <p>Для вычисления этих величин необходимо знать начальную скорость снаряда ν<sub>0</sub>. Её следует определять опытным путём.
        Для этого надо направить пистолет вертикально вверх и, сделав несколько выстрелов, измерить высоту подъёма
        снаряда. Затем, зная H и g, вычислить начальную скорость снаряда ν<sub>0</sub>.</p>
    <ol> <b>Порядок выполнения работы.</b>
        <li>Прикрепите баллистический пистолет к краю стола и направьте его по угломеру строго вертикально.</li>
        <li>Рядом с пистолетом держите вертикально линейку так, чтобы начало отсчёта совпало с центром шарика.
            Сделайте несколько выстрелов и заметьте по делениям линейки высоту поднятия шарика h.</li>
        <li>Вычислите скорость вылета шарика.</li>
        <li>Направьте пистолет вдоль стола под каким – то углом (например, 45<sup>0</sup>). Вычислите для выбранного угла
            дальность полёта ℓ шарика и высоту поднятия шарика h<sub>max</sub>. На вычисленном расстоянии ℓ положите лист поролона,
            который будет служить мишенью.</li>
        <li>Произведите несколько выстрелов. Измерьте линейкой дальность полёта ℓ шарика. Если расчёт был сделан
            правильно, шарик попадёт в расчётную точку.</li>
    </ol>
    <ol><b>Контрольные вопросы</b>
        <li>Отличается ли максимальная высота полёта шарика при стрельбе под углом 45<sup>0</sup> и при зенитной стрельбе?</li>
        <li>Под каким углом надо установить пистолет, чтобы максимальная высота подъёма шарика оказалась в четыре
            раза меньше, чем при зенитной стрельбе?</li>
        <li>Каким способом можно поразить цель, если дальность стрельбы под углом 30<sup>0</sup> соответствует
            нахождению цели, но высота холма на пути снаряда немного превышает высоту поднятия снаряда?</li>
    </ol>
    <img src="{% static 'image/lab/9/1/9-1-1.jpg' %}" alt="описание">
    <a href="{% url 'lab:mainpage' %}">вернуться на главную</a>
{% endblock%}

{% block left_panel%}
    {% include 'lab/includes/form_result.html' %}
{% endblock%}